<h1>Home Page</h1>
<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="assets/Red_and_blue_pill.jpg" alt="red and blue pill Image"></a>
    <div class="hero-copy">
      <h1>Doctor In The Lobby</h1>
      <p>This Web App provides information compiling dollars spent by Pharmaceutical companies and the adverse effects associated with those drugs.</p>
      <p>This App is intended for a developer audience.  This app was created to display the skills I have acquired while at the Nashville Software School.</p>
    </div>
    <button><a href="https://github.com/gwake1/fdaapi" target="_blank">Learn More</a></button>
  </div>
</div>
