<h1>{{PHYSC.Physician.physician_profile_last_name}}, {{PHYSC.Physician.physician_profile_first_name}} {{PHYSC.Physician.physician_profile_middle_name}}</h1>
<h2>{{PHYSC.Physician.physician_speciality}}</h2>
{{value}}
<div>
  <h3 ng-model="collapsed" ng-click="collapsed=!collapsed">Companies Submitting General Payment</h3>
  <table ng-show="collapsed">
    <tr ng-repeat="item in PHYSC.genPMTData | unique:'submitting_applicable_manufacturer_or_applicable_gpo_name'">
      <td
      ng-class="{red: hover}"
      ng-mouseenter="hover = true"
      ng-mouseleave="hover = false">
      {{item.submitting_applicable_manufacturer_or_applicable_gpo_name}}</td>
    </tr>
  </div>
