<h1>Physician Search</h1>

<form name="PhysicianSearchForm" ng-submit="PHYSC.searchPhysician()">
  <div class="form-group">
    <label class="control-label" for="firstName">First Name</label>
    <input class="form-contorl" id="firstName" type="text" value="" ng-model="PHYSC.phy.firstName">
  </div>
  <div class="form-group">
    <label class="control-label" for="lastName">Last Name</label>
    <input class="form-contorl" id="lastName" type="text" ng-model="PHYSC.phy.lastName">
  </div>
  <div class="form-group">
    <label class="control-label" for="City">City</label>
    <input class="form-contorl" id="City" type="text" ng-model="PHYSC.phy.city">
  </div>
  <div class="form-group">
    <label class="control-label" for="State">State</label>
    <input class="form-contorl" id="State" type="text" ng-model="PHYSC.phy.state">
  </div>
  <div class="form-group">
    <label class="control-label" for="speciality">speciality</label>
    <select name="speciality" id="speciality" ng-model="PHYSC.phy.speciality">
      <option value="{{val}}" ng-repeat="(val, text) in PHYSC.specialityOptions" ng-model="PHYSC.phy.speciality">
        {{text}}
      </option>
    </select>
  </div>
  <input type="submit" value="Search Physician">
</form>

<div>
  <table ng-cloak class="table table-striped">
    <tr>
      <th ng-click="sortBy='physician_profile_last_name'; reverse=!reverse">Physician Name</th>
      <th ng-click="sortBy='physician_speciality'; reverse=!reverse">Physician speciality</th>
    </tr>
    <tr class="ng-cloak" ng-repeat="item in PHYSC.provider | orderBy:sortBy:reverse">
      <td ng-click="PHYSC.goToPhysician(item.physician_id)"><a>{{item.physician_profile_last_name}}, {{item.physician_profile_first_name}} {{item.physician_profile_middle_name}}</a></td>
      <td>{{item.physician_speciality}}</td>
    </tr>
  </tr>
</table>
</div>
