<h1 ng-repeat="item in Rx.Rx | limitTo: 1">{{item.name_of_associated_covered_drug_or_biological1}}</h1>
<h2 ng-repeat="item in Rx.Rx | limitTo: 1">{{item. applicable_manufacturer_or_applicable_gpo_making_payment_name}}</h2>
<h3>2013 General Payments Amounting to {{Rx.RxPMTTotal | currency:"$":2}}</h3>


<br>
<table class="table table-striped">
  <caption><h4>Active Ingredients:</h4></caption>
  <tr ng-repeat="item in Rx.ingredients">
    <td ng-repeat="data in item.conceptProperties">
      {{data.name}}<td>
  </tr>
</table>

<div id="chart"></div>
