[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.GenPMTCo {
  padding: 1em;
}

.RxCoBlue {
  background-color: #5ED9FF;
  }html,body {
    Extra Styles
    background: #fff;
    color: #425363;
    font-family: avenir, 'segoe ui', sans-serif;
  }
